body {
    font-family: Open Sans, Verdana, sans-serif;
    background: #bdc3c7;
    font-size: 14px;
    color: #34495e;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #95a5a6;
}

:-moz-placeholder {
    color: #95a5a6;
}

::-moz-placeholder {
    color: #95a5a6;
}

:-ms-input-placeholder {
    color: #95a5a6;
}

.placeholder {
    color: #95a5a6;
}

.container {
    max-width: 300px;
    padding: 50px 0;
    margin: 0 auto;
    width: 80%;
}

.container p {
    text-align: center;
    margin: 50px 0 0;
}

.container p .placeholder-support {
    font-weight: bold;
    color: #27ae60;
}

.container p .placeholder-support.false {
    color: #c0392b;
}

.container form input,
.container form button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #95a5a6;
    -webkit-appearance: none;
    background: #ecf0f1;
    padding: 7.5px 10px;
    margin: 0 auto 25px;
    border-radius: 3px;
    display: block;
    font: inherit;
    width: 100%;
    outline: 0;
}

.container form button {
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    border: 1px solid #2980b9;
    background: #3498db;
    font-weight: bold;
    margin-bottom: 0;
    max-width: 200px;
    cursor: pointer;
    color: #ecf0f1;
    width: 80%;
}

.container form button:hover {
    background: #2980b9;
}
